<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/berandaAdmin :: beranda(~{::title}, ~{::header}, ~{::table})}">
<head>
    <title>Beranda - Mahasiswa</title>
</head>
<body>
    <header class="main-header">
        <h1 class="page-title">Daftar Mahasiswa</h1>
    </header>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>NPM</th>
            <th>Nama Mahasiswa</th>
            <th>Dosen Pembimbing</th>
            <th>Topik Tugas Akhir</th>
            <th>Jumlah Bimbingan</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mahasiswa, iter : ${mahasiswaList}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${mahasiswa.id}"></td>
            <td th:text="${mahasiswa.nama}"></td>
            <td>
                <p th:each="dosen : ${mahasiswa.dosenPembimbing}" th:text="${dosen.nama}"></p>
            </td>
            <td th:text="${mahasiswa.namaTopik}"></td>
            <td th:text="${mahasiswa.sebelumUts} + ${mahasiswa.setelahUts}"></td>
            <td class="action-cell">
                <input id="edit" type="checkbox" class="row-checkbox">
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>