<!DOCTYPE html>
<html lang="id" 
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="beranda (title, card_profile, card_reminder, card_history, card_progress)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Beranda</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/beranda.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}"/>
    <script th:src="@{/js/popup.js}" defer></script>
</head>
<body>
    <th:block th:replace="~{layout/navigation :: navBar}"></th:block>
    <main th:attr="id=${pengguna.role == 'mahasiswa'} ? 'grid-mahasiswa' : 'grid-dosen'">
        <header th:replace="${card_profile}"></header>
        <section th:replace="${card_reminder}"></section>
        <section th:replace="${card_history}"></section>
        <section th:replace="${card_progress}"></section>
    </main>
</body>
</html>