<!DOCTYPE html>
<html lang="id"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="jadwal (title, welcomeText)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Jadwal Bimbingan</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jadwal.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}"/>
    <script rel="javascript" type="text/javascript" th:src="@{/js/popup.js}" defer></script>
    <script rel="javascript" type="text/javascript" th:src="@{/js/calendar.js}" defer></script>
    <script rel="javascript" type="text/javascript" th:src="@{/js/pengajuan.js}" defer></script>
</head>
<body>
    <th:block th:replace="~{layout/navigation :: navBar}"></th:block>
    <main>
        <div id="left-container">
            <header>
                <h1>Jadwal Bimbingan</h1>
                <p th:replace="${welcomeText}"></p>
            </header>
            <div id="button-container">
                <button th:if="${pengguna.role == 'mahasiswa'}"
                        type="button"
                        class="button_blue">
                    Edit Jadwal Kuliah
                </button>
                <button type="button"
                        class="button_black">
                    Ajukan Bimbingan
                </button>
            </div>
        </div>
            <div id="right-container">
                <div class="calendar">
                    <div id="calendar-control">
                        <a class="arrow-btn" th:href="@{/jadwal/{role}(role=${pengguna.role}, weekOffset=${weekOffset - 1})}">‹</a>
                        <h3 th:text="${#temporals.format(currentDate, 'MMMM yyyy')}">Oktober 2025</h3>
                        <a class="arrow-btn" th:href="@{/jadwal/{role}(role=${pengguna.role}, weekOffset=${weekOffset + 1})}">›</a>
                    </div>
                    <div id="calendar-header">
                        <div></div>
                    </div>
                    <div id="calendar-main">
                        <div id="time"></div>
                        <div id="slot">
                            <div th:each="blocked : ${blockedList}"
                                 class="blocked"
                                 th:style="'grid-column: ' + (${blocked.indexHari}) + '; grid-row: ' + (${blocked.jamMulai} - 6) + ' / span ' + (${blocked.jamSelesai} - ${blocked.jamMulai}) + ';'">
                            </div>
                            <div th:each="bimbingan : ${bimbinganList}"
                                 class="event"
                                 th:style="'grid-column: ' + (${bimbingan.indexHari}) + '; grid-row: ' + (${bimbingan.jamMulai} - 6) + ' / span ' + (${bimbingan.jamSelesai} - ${bimbingan.jamMulai}) + ';'">
                                <h3>
                                    Bimbingan
                                </h3>
                                <p th:text="${bimbingan.ruangan}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="~{pop-up/pengajuan_bimbingan :: pop-up-pengajuan}"></th:block>
    </body>
    <script th:inline="javascript">
        const tanggalMingguIni = /*[[${tanggalMingguIni}]]*/ [];
    </script>
</html>