<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navBar">
    <div>
        <a th:href="@{/beranda/{role}(role=${pengguna.role})}">
            <h1>Consilium</h1>
        </a>
    </div>
    
    <ul th:if="${pengguna.role != 'admin'}">
        <li th:classappend="${currentPage == 'beranda'} ? 'nav-bg-active'">
            <span>
                <a th:href="@{/beranda/{role}(role=${pengguna.role})}"
                   th:classappend="${currentPage == 'beranda'} ? 'nav-text-active'"
                   aria-current="${currentPage == 'beranda'} ? 'page' : null">
                    Beranda
                </a>
            </span>
            <div th:if="${currentPage == 'beranda'}" 
                 class="nav-bar" 
                 aria-hidden="true"></div>
        </li>
        
        <li th:classappend="${currentPage == 'jadwal'} ? 'nav-bg-active'">
            <span>
                <a th:href="@{/jadwal/{role}(role=${pengguna.role})}"
                   th:classappend="${currentPage == 'jadwal'} ? 'nav-text-active'"
                   aria-current="${currentPage == 'jadwal'} ? 'page' : null">
                    Jadwal Bimbingan
                </a>
            </span>
            <div th:if="${currentPage == 'jadwal'}" 
                 class="nav-bar" 
                 aria-hidden="true"></div>
        </li>
        
        <li th:classappend="${currentPage == 'notifikasi'} ? 'nav-bg-active'">
            <span>
                <a th:href="@{/notifikasi/{role}(role=${pengguna.role})}"
                   th:classappend="${currentPage == 'notifikasi'} ? 'nav-text-active'"
                   aria-current="${currentPage == 'notifikasi'} ? 'page' : null">
                    Notifikasi
                </a>
            </span>
            <div th:if="${currentPage == 'notifikasi'}" 
                 class="nav-bar" 
                 aria-hidden="true"></div>
        </li>
        
        <li th:classappend="${currentPage == 'pengumuman'} ? 'nav-bg-active'">
            <span>
                <a th:href="@{/pengumuman/{role}(role=${pengguna.role})}"
                   th:classappend="${currentPage == 'pengumuman'} ? 'nav-text-active'"
                   aria-current="${currentPage == 'pengumuman'} ? 'page' : null">
                    Pengumuman Bimbingan
                </a>
            </span>
            <div th:if="${currentPage == 'pengumuman'}" 
                 class="nav-bar" 
                 aria-hidden="true"></div>
        </li>
    </ul>
    <ul th:if="${pengguna.role == 'admin'}">
        <li th:classappend="${currentPage == 'adminMahasiswa'} ? 'nav-bg-active'">
            <span>
                <a th:href="@{/admin/mahasiswa}" 
                   th:classappend="${currentPage == 'adminMahasiswa'} ? 'nav-text-active'"
                   aria-current="${currentPage == 'adminMahasiswa'} ? 'page' : null">
                    Daftar mahasiswa
                </a>
            </span>
            <div th:if="${currentPage == 'adminMahasiswa'}" 
                 class="nav-bar" 
                 aria-hidden="true"></div>
        </li>
        <li th:classappend="${currentPage == 'adminDosen'} ? 'nav-bg-active'">
            <span>
                <a th:href="@{/admin/dosen}" 
                   th:classappend="${currentPage == 'adminDosen'} ? 'nav-text-active'"
                   aria-current="${currentPage == 'adminDosen'} ? 'page' : null">
                    Daftar Dosen
                </a>
            </span>
            <div th:if="${currentPage == 'adminDosen'}" 
                 class="nav-bar" 
                 aria-hidden="true"></div>
        </li>
    </ul>
    
    <form method="post" th:action="@{/logout}">
        <button type="submit" id="danger_button">
            Keluar
        </button>
    </form>
</nav>
</html>