<nav th:fragment="navBar">
    <div>
        <a th:href="@{/beranda/{role}(role=${currentRole})}"><h1>Consilium</h1></a>
    </div>
    <ul>
        <li th:class="${currentPage == 'beranda'} ? 'nav-bg-active' : null">
            <span><a th:href="@{/beranda/{role}(role=${currentRole})}" th:class="${currentPage == 'beranda'} ? 'nav-text-active' : null">Beranda</a></span>
            <div th:if="${currentPage == 'beranda'}" class="nav-bar"></div>
        </li>
        <li th:class="${currentPage == 'jadwal'} ? 'nav-bg-active' : null">
            <span><a th:href="@{/jadwal/{role}(role=${currentRole})}" th:class="${currentPage == 'jadwal'} ? 'nav-text-active' : null">Jadwal Bimbingan</a></span>
            <div th:if="${currentPage == 'jadwal'}" class="nav-bar"></div>
        </li>
        <li th:class="${currentPage == 'notifikasi'} ? 'nav-bg-active' : null">
            <span><a href="#" th:class="${currentPage == 'notifikasi'} ? 'nav-text-active' : null">Notifikasi</a></span>
            <div th:if="${currentPage == 'notifikasi'}" class="nav-bar"></div>
        </li>
        <li th:class="${currentPage == 'pengumuman'} ? 'active-nav' : null">
            <span><a href="#" th:class="${currentPage == 'pengumuman'} ? 'nav-text-active' : null">Pengumuman Bimbingan</a></span>
            <div th:if="${currentPage == 'pengumuman'}" class="nav-bar"></div>
        </li>
    </ul>
</nav>
