body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#grid-mahasiswa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .7fr minmax(0, 1fr);
    grid-template-areas:
        "header header header"
        "reminder history progress";
    gap: 20px;
    padding: 2rem;
    height: calc(100vh - 4rem);
    width: 100%;
}

#grid-dosen {
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-rows: 300px 400px 1fr;
    grid-template-areas:
        "header header"
        "reminder history"
        "progress progress";
    gap: 30px;
    padding: 2rem;
    height: 100%;
    width: 100%;
}

.label {
    font-weight: 600;
}

.info-banner {
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 20%;
}

header {
    display: flex;
    grid-area: header;
}

header, #reminder, #progress, .info-banner {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.TA-container {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 50%;
}

#text-container h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

#info-text {
    margin: 1em;
}

.row {
    display: grid;
    grid-template-columns: fit-content(200px) fit-content(200px);
    column-gap: .5em;
}

.row p {
    margin: 0;
    line-height: 1.5;
}

#reminder {
    grid-area: reminder;
}

#history {
    grid-area: history;
    display: flex;
    flex-direction: column;
}

#history-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.bimbingan-card {
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1em;
}

.detail {
    justify-self: end;
    opacity: .7;
}

#progress {
    grid-area: progress;
}