body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#grid-mahasiswa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .7fr 1fr;
    grid-template-areas:
        "header header header"
        "reminder history progress";
    gap: 20px;
    padding: 2rem;
    height: 100%;
    width: 100%;
}

#grid-dosen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .8fr .9fr 1fr;
    grid-template-areas:
        "header header"
        "reminder history"
        "progress progress";
    gap: 30px;
    padding: 2rem;
    min-height: calc(100vh - 60px);
    width: 100%;
}

header {
    display: flex;
    grid-area: header;
}

header, #reminder, #progress {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

#reminder {
    grid-area: reminder;
}

#history {
    grid-area: history;
}

#progress {
    grid-area: progress;
}

#TA_container {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

#text_container h2 {
    font-size: 1.8em;
    font-weight: 600;
}

#text_container p {
    line-height: 1.5;
}

.row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin: 10px 0;
    align-items: start;
}

.label {
    font-weight: 600;
}

.value {
    line-height: 1.5;
}

.info_banner {
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 25%;
}

#info_text {
    margin: 1em;
    line-height: 1.5;
}

#info_text > p {
    margin: 0;
}

#history_container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    overflow-y: auto;
}

.bimbingan_card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1em;
    border-radius: 8px;
}

.detail {
    justify-self: end;
    opacity: .7;
}