body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#grid-mahasiswa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .7fr minmax(0, 1fr);
    grid-template-areas:
        "header header header"
        "reminder history progress";
    gap: 20px;
    padding: 2rem;
    height: calc(100vh - 4rem);
    width: 100%;
}

#grid-dosen {
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-rows: 300px 400px 1fr;
    grid-template-areas:
        "header header"
        "reminder history"
        "progress progress";
    gap: 30px;
    padding: 2rem;
    height: 100%;
    width: 100%;
}

.label {
    font-weight: 600;
}

.info-banner {
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 20%;
}

header {
    display: flex;
    grid-area: header;
}

header, #reminder, #progress, .info-banner {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.TA-container {
    background-color: var(--primary-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

#text-container h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

#info-text {
    margin: 1em;
}

.row {
    display: grid;
    grid-template-columns: .7fr 1fr;
}

.row p {
    margin: 0;
    line-height: 1.5;
}

#reminder {
    grid-area: reminder;
}

#history {
    grid-area: history;
    display: flex;
    flex-direction: column;
}

#history-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.bimbingan-card {
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1em;
}

.detail {
    justify-self: end;
    opacity: .7;
}

#progress {
    grid-area: progress;
}

.circle-wrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.progress-circle {
    --size: 120px;
    --stroke: 8px;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: relative;

    background:
        conic-gradient(#F7C64A calc(var(--p) * 1%), #f2e3b5 0);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.progress-circle::before {
    content: "";
    position: absolute;
    inset: var(--stroke);
    background: white;
    border-radius: 50%;
}

.progress-circle span {
    position: relative;
    z-index: 2;
}

.progress-circle[data-progress="100"] {
    --p: 100;
}
.progress-circle[data-progress="50"] {
    --p: 50;
}
.progress-circle[data-progress="0"] {
    --p: 0;
}