#calendar-container {
    display: flex;
    flex-direction: column;
}

#calendar-control {
    display: flex;
    justify-content: space-between;
}

.nav-arrows {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}

.arrow-btn {
    width: 36px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}


#calendar-header {
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr);
    height: 10%;
}

#calendar-header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.1rem;
}

#calendar-main {
    display: flex;
    flex: 1;
}

#time {
    width: 100px;
}

#time > div {
    font-weight: 500;
    height: 70px;
}

#slot {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 70px);
    flex: 1;
}

.event {
    background-color: var(--primary-color);
    border: 1px solid var(--text-content-color-light);
    border-radius: var(--radius-md);
    padding: var(--spacing-sm);
    transition: 0.2s;
}

.event:hover {
    scale: 0.95;
    opacity: 0.8;
}

.blocked {
    background: repeating-linear-gradient(
            45deg,
            rgba(255, 120, 120) 0,
            rgba(255, 120, 120) 10px,
            rgba(255, 120, 120, 0.15) 10px,
            rgba(255, 120, 120, 0.15) 20px
    );
    border: 8px solid rgba(255, 120, 120);
    border-radius: 8px;
}