#calendar-container {
    display: flex;
    flex-direction: column;
}

#calendar-header {
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr);
    height: 10%;
}

#calendar-header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

#calendar-main {
    display: flex;
    flex: 1;
}

#time {
    width: 100px;
}

#time > div {
    font-weight: 500;
    height: 60px;
}

#slot {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 60px);
    width: 100%;
}

#slot > div {
    border: 1px solid black;
    width: 95%;
    height: 95%;
}

.blocked {
    background: repeating-linear-gradient(
            45deg,
            rgba(255, 120, 120) 0,
            rgba(255, 120, 120) 10px,
            rgba(255, 120, 120, 0.15) 10px,
            rgba(255, 120, 120, 0.15) 20px
    );
    border: 8px solid rgba(255, 120, 120);
    border-radius: 8px;
}