.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    position: relative;
}

.day-header {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid var(--outline-color);
}

.time-slot {
    border-bottom: 1px solid var(--outline-color);
    height: 50px; /* 1 jam */
}

.event {
    position: absolute;
    border-radius: 8px;
    padding: 10px;
}

.event.bimbingan {
    background: var(--primary-color);
}

.event.blocked {
    background-image: repeating-linear-gradient(
            45deg,
            var(--danger-color) 0,
            var(--danger-color) 10px,
            transparent 10px,
            transparent 20px
    );
}
