main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "form logo";
    height: 100vh;
}

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 80%;
}

h1 {
    font-size: 3rem;
}

#container > form {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: column;
}

#container > form > label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-weight: 500;
}

p {
    position: relative;
}

a {
    color: var(--secondary-color);
}

#login_logo {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_logo > h1 {
    margin: 0;
}