body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
}

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
}

h1 {
    font-size: 3.5rem;
}

#container > form {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: column;
}

#container > form > label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-weight: 500;
}

#login_logo {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#login_logo > h1 {
    margin: 0;
}