nav {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-areas:
    "logo navigation .";
    min-height: 60px;
    align-items: center;
}

nav h1 {
    color: var(--primary-color);
    padding-left: 2rem;
    margin: 0;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    list-style: none;
    width: 25%;
    height: 100%;
}

li > span {
    flex: 1;
    display: flex;
    align-items: center;
}

a {
    color: var(--text-header-color);
}

.nav-bg-active {
    background-color: var(--bg-current-color);
}

a.nav-text-active {
    color: var(--primary-color);
}

.nav-bar {
    background-color: var(--primary-color);
    width: 100%;
    height: 5px;
}
