.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.pop-up-container {
    background-color: var(--bg-current-color);
    display: flex;
    flex-direction: column;
}

.pop-up-header {
    background-color: var(--primary-color);
    padding: 1em 3em;
}

.form-pengajuan {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 2em;
    font-size: .7em;
}

label {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
}
