<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilium - Notifikasi</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/notifikasi.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/popup.css}">
    <script th:src="@{/js/popup.js}" defer></script>
</head>

<body>
    <th:block th:replace="~{layout/navigation :: navBar}"></th:block>

    <main>
        <header>
            <h1>Notifikasi</h1>
        </header>

        <div id="notification-container">
            <!-- Pengajuan Bimbingan -->
            <section aria-labelledby="pengajuan-heading">
                <div class="notification-header-container">
                    <h4 id="pengajuan-heading">Pengajuan Bimbingan</h4>
                </div>
                <div class="notification-body-container">
                    <div class="notification-item" th:each="notif : ${notifications}" th:if="${notif.status == null && notif.pengirim != pengguna.nama}">
                        <div class="notification-item-left">
                            <p>
                                Penjadwalan Bimbingan pada
                                <span th:text="${#temporals.format(notif.tanggal, 'EEEE, dd MMMM yyyy')}">tanggal</span>
                                di <span th:text="${notif.ruangan}">ruangan</span>
                            </p>
                            <p>
                                Jam:
                                <span th:text="${notif.waktuMulai}">mulai</span> -
                                <span th:text="${notif.waktuSelesai}">selesai</span>
                            </p>
                            <p>
                                Pengirim: <span th:text="${notif.pengirim}"></span>
                            </p>
                        </div>
                        <div class="notification-item-right">
                            <p>
                                <time th:datetime="${notif.tanggalKirim}">
                                    <span th:text="${#temporals.format(notif.tanggal, 'dd MMMM yyyy')}">tanggal</span>
                                </time>
                            </p>
                            <p><span th:text="${#temporals.format(notif.waktuKirim, 'HH:mm')}">waktu</span></p>
                            <form method="POST" th:action="@{/notifikasi/updateNotifikasi}">
                                <input type="hidden" name="id" th:value="${notif.id}">
                                <input type="hidden" name="status" value="OK">
                                <button type="submit" class="accept-button">
                                    Setuju
                                </button>
                            </form>
                            <button 
                                type="button"
                                class="deny-button"
                                th:attr="data-id=${notif.id}">
                                Tolak
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Catatan Bimbingan -->
            <section aria-labelledby="catatan-heading">
                <div class="notification-header-container">
                    <h4 id="catatan-heading">Catatan Bimbingan</h4>
                </div>
                <div class="notification-body-container">
                    <div class="notification-item" th:each="notif : ${notifications}"
                        th:if="${notif.catatanDosen != null and notif.catatanDosen != ''}">
                        <div class="notification-item-left">
                            <p>
                                Catatan mengenai bimbingan pada
                                <span th:text="${#temporals.format(notif.tanggal, 'EEEE, dd MMMM yyyy')}">tanggal</span>
                                di <span th:text="${notif.ruangan}">ruangan</span>
                                sudah dimasukkan.<br>
                                Catatan :
                                <span th:text="${notif.catatanDosen}">temp</span>
                            </p>

                        </div>
                        <div class="notification-item-right">
                            <p>
                                <time th:datetime="${notif.tanggalKirim}">
                                    <span th:text="${#temporals.format(notif.tanggal, 'dd MMMM yyyy')}">tanggal</span>
                                </time>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Sistem -->
            <section aria-labelledby="sistem-heading">
                <div class="notification-header-container">
                    <h4 id="sistem-heading">Sistem</h4>
                </div>
                <div class="notification-body-container">
                    <div class="notification-item" th:each="notif : ${notifications}" th:if="${notif.status != null}">
                        <div class="notification-item-left">
                            <p>
                                Penjadwalan Bimbingan pada
                                <span th:text="${#temporals.format(notif.tanggal, 'EEEE, dd MMMM yyyy')}">tanggal</span>
                                di <span th:text="${notif.ruangan}">ruangan</span>
                            </p>
                            <p>
                                Jam:
                                <span th:text="${notif.waktuMulai}">mulai</span> -
                                <span th:text="${notif.waktuSelesai}">selesai</span>
                            </p>
                            <p>
                                Pengirim: <span th:text="${notif.pengirim}"></span>
                            </p>
                        </div>
                        <div class="notification-item-right">
                            <p>
                                <time th:datetime="${notif.tanggalKirim}">
                                    <span th:text="${#temporals.format(notif.tanggal, 'dd MMMM yyyy')}">tanggal</span>
                                </time>
                            </p>
                            <p><span th:text="${#temporals.format(notif.waktuKirim, 'HH:mm')}">waktu</span></p>
                            <button type="button" th:if="${notif.status}" class="accept-button" disabled>
                                Disetujui
                            </button>
                            <button type="button" th:if="${notif.status == false}" class="deny-button" disabled>
                                Ditolak
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{pop-up/Alasan_Menolak_Bimbingan :: alasan-menolak-bimbingan}"></th:block>
</body>

</html>