<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/berandaAdmin :: beranda(~{::title}, ~{::header}, ~{::table})}">
<head>
    <title>Beranda - Dosen</title>
</head>
<body>
    <header class="main-header">
        <h1 class="page-title">Daftar Dosen Pembimbing</h1>
    </header>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Kode Dosen</th>
            <th>Nama Dosen Pembimbing</th>
            <th>Topik yang Dibuka</th>
            <th>Mahasiswa yang Dibimbing</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dosen, iStat : ${dosenPembimbingList}">
            <td th:text="${iStat.index + 1}">1</td>
            <td th:text="${dosen.kodeDosen}">VANCS001</td>
            <td th:text="${dosen.nama}">Vania Natali</td>
            <td>
                <p th:each="topik : ${dosen.topikList}" th:text="${topik}"></p>
            </td>
            <td>
                <p th:each="mhs : ${dosen.mahasiswaList}" th:text="${mhs.nama}"></p>
            </td>
            <td class="action-cell">
                <input id="edit"type="checkbox" class="row-checkbox">
            </td>
        </tr>
        </tbody>
    </table>
<!--   <div class="content-container">-->
<!--        -->

<!--    </div>-->
</body>

</html>