<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/beranda :: beranda(~{::title}, ~{::header}, ~{::card-reminder}, ~{::card-history}, ~{::card-progress})}">
<head>
    <title>Beranda - Dosen</title>
</head>
<body>
    <header>
        <div class="TA-container">
            <h1>TA 1</h1>
        </div>
        <div class="profile-container">
            <h2><span th:text="${dosen.nama}">Nama Dosen</span></h2>
            <div class="row">
                <p class="label">Topik TA: </p>
                <div class="value">
                    <p th:each="topikTA : ${dosen.topikList}" th:text="${topikTA.judulTopik}">Topik TA</p>
                </div>
            </div>
        </div>
    </header>

    <section th:fragment="card-reminder" id="reminder">
        <div class="info-banner">
            <h2>Bimbingan Mendatang</h2>
        </div>
        <div class="info-text">
            <h3>Bimbingan</h3>
            <p>
                <span class="label">Tanggal: </span><span th:text="${#temporals.format(bimbinganMendatang.tanggal, 'EEEE, dd MMMM yyyy')}">Tanggal</span>
            </p>
            <p>
                <span class="label">Ruang: </span><span th:text="${bimbinganMendatang.ruang}"></span>
            </p>
            <div class="row">
                <span class="label">Dosen Pembimbing:</span>
                <div class="value">
                    <p th:each="mahasiswa : ${bimbinganMendatang.mahasiswa}" th:text="${mahasiswa.nama}"></p>
                </div>
            </div>
            <p>
                <span class="label">Tugas: </span><span th:text="${bimbinganMendatang.tugas}"></span>
            </p>
        </div>
    </section>

    <section th:fragment="card-history" id="history">
        <div class="info-banner">
            <h2>Riwayat Bimbingan</h2>
        </div>
        <div class="history-container">
            <div class="bimbingan-card" th:each="b, iter : ${riwayat}">
                <div class="riwayat">
                    <span class="label">Bimbingan <span th:text="${iter.size - iter.count + 1}"></span></span><br>
                    <span th:text="${#temporals.format(b.tanggal, 'EEEE, dd MMMM yyyy')}">Tanggal</span><br>
                </div>
            </div>
        </div>
    </section>

    <section th:fragment="card-progress" id="progress">
        <div class="info-banner">
            <h2>Mahasiswa Bimbingan</h2>
        </div>
        
        <div class="student-item" th:each="mahasiswa, iterStat : ${dosen.mahasiswaList}">
            <div class="student-number" th:text="${iterStat.count}">1</div>
            <div class="student-card">
                <div class="student-info">
                    <h2 th:text="${mahasiswa.nama}">Nama Mahasiswa</h2>
                    <p>Topik: <span th:text="${mahasiswa.namaTopik}">Topik TA</span></p>
                </div>
                <div class="progress-section">
                    <div class="progress-group">
                        <div th:class="${mahasiswa.sebelumUts >= 2} ? 'progress-circle-yellow' : 'progress-circle-red'">
                            <span><span th:text="${mahasiswa.sebelumUts}"></span> dari 2</span>
                        </div>
                        <p class="progress-label">Sebelum UTS</p>
                    </div>
                    <div class="progress-group">
                        <div th:class="${mahasiswa.setelahUts >= 2} ? 'progress-circle-yellow' : 'progress-circle-red'">
                            <span><span th:text="${mahasiswa.setelahUts}"></span> dari 2</span>
                        </div>
                        <p class="progress-label">Setelah UTS</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>