<!DOCTYPE html>
<html th:replace="~{layout/beranda :: beranda(~{::title}, ~{::header}, ~{::card_reminder}, ~{::card_history}, ~{::card_progress})}">
<head>
    <title>Beranda - Mahasiswa</title>
</head>
<body>
    <header>
        <div class="TA_container">
            <h1>TA 1</h1>
        </div>

        <div class="profile_container">
            <h1><span th:text="${name}"></span></h1>
            <p><span class="label">Topik TA : </span><span th:text="${topikTA}"></span></p>
            <div class="row">
                <span class="label">Dosen Pembimbing :</span>
                <div class="value">
                    <p>Vania Natali, S.Kom., M.T.</p>
                    <p>Raymond Chandra Putra, S.T., M.T.</p>
                </div>
            </div>
        </div>
    </header>

    <section th:fragment="card_reminder" id="reminder">
        <div class="info_banner">
            <h2>Bimbingan Mendatang</h2>
        </div>

        <div id="info_text">
            <h3>Bimbingan 3</h3>
            <p><span class="label">Tanggal: </span> 15 Oktober</p>
            <p><span class="label">Ruang: </span>R. Kuliah 09.01.0015</p>
            <p><span class="label">Dosen Pembimbing: </span>Vania Natali, S.Kom., M.T.</p>
            <p><span class="label">Tugas: </span>Membuat cover 10 halaman</p>
        </div>
    </section>

    <section th:fragment="card_history" id="history">
        <div class="info_banner">
            <h2>Riwayat Bimbingan</h2>
        </div>

        <div id="history_container">
            <div class="bimbingan_card">
                <div class="riwayat">
                    <span class="label">Bimbingan 2</span><br>
                    12, Oktober 2025
                </div>
                <p class="detail">Cek Detail</p>
            </div>
            <div class="bimbingan_card">
                <div class="riwayat">
                    <span class="label">Bimbingan 2</span><br>
                    12, Oktober 2025
                </div>
                <p class="detail">Cek Detail</p>
            </div>
            <div class="bimbingan_card">
                <div class="riwayat">
                    <span class="label">Bimbingan 2</span><br>
                    12, Oktober 2025
                </div>
                <p class="detail">Cek Detail</p>
            </div>
            <div class="bimbingan_card">
                <div class="riwayat">
                    <span class="label">Bimbingan 2</span><br>
                    12, Oktober 2025
                </div>
                <p class="detail">Cek Detail</p>
            </div>
            <div class="bimbingan_card">
                <div class="riwayat">
                    <span class="label">Bimbingan 2</span><br>
                    12, Oktober 2025
                </div>
                <p class="detail">Cek Detail</p>
            </div>
        </div>

    </section>

    <section th:fragment="card_progress" id="progress">

        <div class="info_banner">
            <h2>Hasil Bimbingan</h2>
        </div>

    </section>
</body>

</html>