<!DOCTYPE html>
<html th:replace="~{Login/layout :: layout (~{::title}, ~{::header}, ~{::form})}">
<head>
    <title>Consilium - Buat Password</title>
</head>
<body>
    <header>
        <h1>Buat password Baru</h1>
        <hr>
    </header>
    <form method="post" action="/login">
        <label>
            Password Baru
            <input type="password" name="newPassword" placeholder="Masukkan password baru" class="input_text_outline">
        </label>
        <label>
            Konfirmasi Password Baru
            <input type="password" name="confirmPassword" placeholder="Masukkan password baru kembali" class="input_text_outline">
        </label>
        <input type="submit" value="Ubah Password" class="button_yellow">
    </form>
</body>
</html>
