<!DOCTYPE html>
<html th:replace="~{Login/layout :: layout (~{::title}, ~{::header}, ~{::form})}">
<head>
    <title>Consilium - Lupa Password</title>
</head>
<body>
<header>
    <h1>Masukkan Email Anda</h1>
    <hr>
</header>
<form method="post" action="/login">
    <label>
        Email
        <input type="text" name="email" placeholder="Masukkan email anda" class="input_text_outline">
    </label>
    <input type="submit" value="Ubah Password" class="button_yellow">
</form>
</body>
</html>
