<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, header, form)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Consilium</title>
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/login.css" type="text/css">
</head>
<body>
    <main>
        <div id="login_form">
            <div id="container">
                <header th:replace="${header}"></header>
                <form th:replace="${form}"></form>
            </div>
        </div>
        <th:block th:insert="~{Login/logo :: logo}"></th:block>
    </main>
</body>
</html>
