<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/login :: login (~{::title}, ~{::header}, ~{::form})}">
<head>
    <title>Consilium - Login</title>
</head>
<body>
    <header>
        <h1>Selamat Datang Kembali</h1>
        <hr>
    </header>
    <form method="post" th:action="@{/login}">
        <label for="email">
            Email
            <input type="email" 
                   id="email"
                   name="email" 
                   placeholder="Masukkan email anda" 
                   class="input_text_outline"
                   required>
        </label>
        <label for="password">
            Password
            <input type="password" 
                   id="password"
                   name="password" 
                   placeholder="Masukkan password anda" 
                   class="input_text_outline"
                   required>
            <span>
                <a th:href="@{/forgot_password}" class="forgot_password">
                    Lupa password?
                </a>
            </span>
        </label>
        <button type="submit"
               class="button_yellow">
            Masuk sekarang
        </button>
    </form>
</body>
</html>