<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="overlay hidden" th:fragment="pop-up-pengajuan" id="overlay-pengajuan">
    <div class="pop-up-container">
        <div class="pop-up-header">
            <h1>Permintaan Bimbingan</h1>
        </div>
        
        <form class="form-pengajuan" 
              method="post" 
              th:action="@{/jadwal/ajukan-bimbingan}"
              id="form-pengajuan-bimbingan">

            <label for="dosen-list" th:if="${pengguna.role == 'mahasiswa'}">
                Pilih Dosen Pembimbing
                <div id="dosen-list"
                     class="list-checkbox"
                     role="group"
                     aria-labelledby="dosen-list">
                    <div th:each="dosen : ${dosenList}">
                        <input type="checkbox" name="penerima" th:text="${dosen.nama}" th:value="${dosen.id}">
                    </div>
                </div>
            </label>

            <label for="mahasiswa-list" th:if="${pengguna.role == 'dosen'}">
                Pilih mahasiswa (bisa lebih dari 1)
                <div id="mahasiswa-list"
                     class="list-checkbox"
                     role="group"
                     aria-labelledby="mahasiswa-list">
                    <div th:each="mahasiswa : ${mahasiswaList}">
                        <input type="checkbox" name="penerima" th:text="${mahasiswa.nama}" th:value="${mahasiswa.id}">
                    </div>
                </div>
            </label>

            <label for="jadwal-rutin" th:if="${pengguna.role == 'dosen'}">
                Penjadwalan rutin
                <select id="jadwal-rutin"
                        name="jadwalRutin"
                        class="input_text_outline">
                    <option value="">Tidak ada</option>
                    <option value="mingguan">Mingguan</option>
                    <option value="dua-mingguan">Dua Minggu Sekali</option>
                    <option value="bulanan">Bulanan</option>
                </select>
            </label>

            <label for="tanggal-bimbingan">
                Pilih tanggal
                <input type="date" 
                       id="tanggal-bimbingan"
                       name="tanggal" 
                       required 
                       class="input_text_outline"
                       th:min="${T(java.time.LocalDate).now().toString()}">
            </label>
            
            <label for="jam-mulai">
                Pilih jam mulai
                <select id="jam-mulai"
                        name="jamMulai" 
                        class="input_text_outline"
                        required>
                    <option selected disabled>Pilih jam mulai</option>
                </select>
            </label>
            
            <label for="jam-selesai">
                Pilih jam selesai
                <select id="jam-selesai"
                        name="jamSelesai" 
                        class="input_text_outline"
                        required>
                    <option selected disabled>Pilih jam selesai</option>
                </select>
            </label>
            
            <label for="ruangan">
                Pilih ruangan
                <select id="ruangan"
                        name="ruangan" 
                        class="input_text_outline"
                        required>
                    <option selected disabled>Pilih ruangan</option>
                </select>
            </label>


            <div class="button-group">
                <button type="submit" class="button_yellow">
                    Ajukan Bimbingan
                </button>
                <button type="button" 
                        class="button_black">
                    Batal
                </button>
            </div>
        </form>
    </div>
</div>
</html>