<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/jadwal :: jadwal(~{::title}, ~{::p})}">
<head>
    <title>Jadwal Bimbingan - Mahasiswa</title>
</head>
<body>
    <p>
        Selamat Datang <span th:text="${pengguna.nama}">Nama Mahasiswa</span>,
        <span th:text="${uts}">sebelum</span> masa UTS anda harus menyelesaikan
        <br>
        <span class="bimbingan-reminder" th:classappend="${countBimbingan < 2} ? 'danger-bimbingan' : 'success-bimbingan'">
            <span th:text="${countBimbingan < 2} ? ${2 - countBimbingan} : 0">1</span> bimbingan
        </span>
    </p>
</body>
</html>